@media (min-width: 768px) {
    .top-header {
        padding: 20px 10px;
    }
    .top_logo {
        left: 25%;
    }

    .menu ul {
        flex-direction: column;
        gap: 20px;
    }

    .producto_destacado {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .poco_nosotros {
        flex-direction: column;
        text-align: center;
    }

    .img_nosotros {
        justify-content: center;
    }

    #Blog article {
        flex-direction: column;
        text-align: center;
    }

    #Blog .img_blog {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .container-item {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .item img {
        height: 200px;
    }

    .top_logo img {
        height: 120px;
    }

    .menu_option {
        font-size: 1.8rem;
    }

    .text_destacado {
        font-size: 2rem;
    }

    .subtitulos {
        font-size: 1.8rem;
    }

    .text_tamaño {
        font-size: 1.3rem;
    }
}

@media (min-width: 1024px) {
}
